.App {
  width: 100vw;
  margin: auto;
}

.cell {
  width: 30px;
  border: 1px solid #fff;
}

.row {
  height: 30px;
  width: fit-content;
  display: flex;
}

.start-btn {
  border: none;
  display: block;
  margin: 10px auto;
  padding: 10px 50px;
  text-transform: uppercase;

}
